# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [12]:
# Write your code here
print("Data","Science","Mentorship","Program","By","CampusX", sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [13]:
# Write your code here
celcius = int(input("Enter the value in celcius: "))
F = (9/5)*(celcius) + 32
print(f"The value in celcius is {F}")

Enter the value in celcius: 2
The value in celcius is 35.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [14]:
from re import A
# Write your code here
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = a
a = b
b = c
print(f"After swapping the value of first number is {a}")
print(f"After swappimg the value of second number is {b}")

Enter the first number: 12
Enter the second number: 13
After swapping the vale of first number is 13
After swappimg the valke of second number is 12

In [16]:
f_num = int(input("Enter the first number: "))
s_num = int(input("Enter the second number: "))
f_num = f_num + s_num
s_num = f_num - s_num
f_num = f_num - s_num
print(f"After swapping the value of first number is {f_num}")
print(f"After swappimg the value of second number is {s_num}")

Enter the first number: 12
Enter the second number: 134
After swapping the value of first number is 134
After swappimg the value of second number is 12

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [24]:
# Write your code here
# P = Principal amount

# R = Rate of interest (per annum)

# T = Time period (in years)
principal = float(input("Enter the amount: "))
rate = float(input("Enter the annual interest rate: "))
time = float(input("Enter the time in months: "))
si = (principal * (rate/100) * (time/12))
print(f"The simple Interest is {si}")
print(f"The final amont at the end is {principal + si}")

Enter the amount: 700000
Enter the annual interest rate: 8
Enter the time in months: 120
The simple Interest is 560000.0
The final amont at the end is 1260000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [2]:
# Write your code here
heads = int(input("Enter the number of heads: "))
legs  = int(input("Enter the number of legs: "))

dogs = (legs - 2 * heads) // 2
chickens = heads - dogs

print("Dogs:", dogs)
print("Chickens:", chickens)

Enter the number of heads: 4
Enter the number of legs: 12
Dogs: 2
Chickens: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [4]:
# Write your code here
n = int(input("Enter the number: "))
sum_of_squares = (n * (n + 1) * (2 * n + 1)) // 6
print(f"The sum of squares of first {n} natural numbers is {sum_of_squares}")

Enter the number: 6
The sum of squares of first 6 natural numbers is 91

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [2]:
# Write your code here
# an=a1+(n−1)×d
a1 = int(input("Please enter the first term: "))
a2 = int(input("Please enter the second term: "))
n = int(input("Enter the term you want to find: "))
d = a2 - a1
an = a1 + (n - 1) * d
print(f"The answe is {an}")

Please enter the first term: 20
Please enter the second term: 30
Enter the term you want to find20
The answe is 210

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [3]:
# Write your code here
num1 = int(input("Enter the numerator of first number: "))
den1 = int(input("Enter the denominator of first number: "))
num2 = int(input("Enter the numerator of second number: "))
den2 = int(input("Enter the denominator of second number: "))
sum = (num1/den1) + (num2/den2)
print(f"The sum of 2 fractions are {sum}")

Enter the numerator of first number: 10
Enter the denominator of first number: 2
Enyter the numerator of second number: 10
Enter the denominator of second number: 2
The sum of 2 fractions are 10.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [4]:
# Write your code here
import math
H = int(input("Enter the height of the tank (in cm): "))
L = int(input("Enter the length of the tank (in cm): "))
B = int(input("Enter the breadth of the tank (in cm): "))

h = int(input("Enter the height of the glass (in cm): "))
r = int(input("Enter the radius of the glass (in cm): "))

# Calculations
tank_volume = H * L * B  # Volume of tank (cuboid)
glass_volume = math.pi * (r ** 2) * h  # Volume of one glass (cylinder)

# Number of glasses
number_of_glasses = tank_volume / glass_volume

print(f"The number of glasses of milk obtained is: {int(number_of_glasses)}")

Enter the height of the tank (in cm): 20
Enter the length of the tank (in cm): 20
Enter the breadth of the tank (in cm): 20
Enter the height of the glass (in cm): 3
Enter the radius of the glass (in cm): 1
The number of glasses of milk obtained is: 848